# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

app/example1/iar/Debug/
app/example1/iar/Release/
app/example1/iar/settings/
app/example1/mdk/

app/uvboard/iar/Debug/
app/uvboard/iar/Release/
app/uvboard/iar/settings/
app/uvboard/mdk/

.vscode/BROWSE.DB
*.DB-shm
*.DB-wal
