<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TitanExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TitanExplorer.Properties.Settings>
            <setting name="mainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="plotSignals" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Signal 0</string>
                        <string>Signal 1</string>
                        <string>Signal 2</string>
                        <string>Signal 3</string>
                        <string>Signal 4</string>
                        <string>Signal 5</string>
                        <string>Signal 6</string>
                        <string>Signal 7</string>
                        <string>Signal 8</string>
                        <string>Signal 9</string>
                        <string>Signal 10</string>
                        <string>Signal 11</string>
                        <string>Signal 12</string>
                        <string>Signal 13</string>
                        <string>Signal 14</string>
                        <string>Signal 15</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="bindFromLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bindFromGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logWindowTimestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logWindowAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logWindowOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="logWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="comPort" serializeAs="String">
                <value>no ports</value>
            </setting>
        </TitanExplorer.Properties.Settings>
    </userSettings>
</configuration>